# SPDX-License-Identifier: PMPL-1.0-or-later

name: TagBot

on:
  issue_comment:
    types: [created]
  workflow_dispatch:
    inputs:
      lookback:
        default: 3

permissions:
  actions: read
  contents: write
  issues: read
  pull-requests: read

jobs:
  TagBot:
    if: github.event_name == 'workflow_dispatch' || github.actor == 'JuliaTagBot'
    runs-on: ubuntu-latest
    steps:
      - uses: JuliaRegistries/TagBot@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
