# SPDX-License-Identifier: PMPL-1.0-or-later
name: Quality Checks
permissions: read-all

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  editorconfig:
    name: EditorConfig Compliance
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - uses: editorconfig-checker/action-editorconfig-checker@9f8f6065f4db902c0c56cafa67cea18b3ebbb680 # v2
        with:
          version: latest

  secrets-scan:
    name: Secret Scanning
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          fetch-depth: 0

      - uses: trufflesecurity/trufflehog@8a8ef8526528d8a4ff3e2c90be08e25ef8efbd9b # v3.87.0
        with:
          path: ./
          base: ${{ github.event.repository.default_branch }}
          head: HEAD
